.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 15px;
}

.App-header {
  background-color: #222222;
  height: 120px;
  padding-top: 60px;
  color: #ffffff;
}

.App-title {
  margin-top: 50px;
  font-size: 1.5em;
}



/*************************/

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


nav {
  background-color: black;
  height: 40px;
  /*display: flex;*/
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  overflow-x: hidden;



  display: flex;
  position: relative;
  left: -100%;
  flex-direction: row;
  list-style-type: none;
  transform: translateX(100%);
  /*margin:-10px 0 0 -10px;*/


  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/
  /*-webkit-flex-direction: row;*/
  /*-ms-flex-direction: row;*/
  /*flex-direction: row;*/
  /*-webkit-flex-wrap: nowrap;*/
  /*-ms-flex-wrap: nowrap;*/
  /*flex-wrap: nowrap;*/
  /*-webkit-justify-content: flex-start;*/
  /*-ms-flex-pack: start;*/
  /*justify-content: flex-start;*/
  /*-webkit-align-content: stretch;*/
  /*-ms-flex-line-pack: stretch;*/
  /*align-content: stretch;*/
  /*-webkit-align-items: stretch;*/
  /*-ms-flex-align: stretch;*/
  /*align-items: stretch;*/


}

nav > div {
  /*width: 220px;*/
  height: 100%;
  margin: auto;
  /*background-color: pink;*/
  color: yellow;
  /*flex: 1 0 100%;*/
  flex-grow: 1;
  display: inline-block;

  /*width: calc(100% * (1/5))*/

  flex: 1 0 20%; /* explanation below */


}

/**************/

.carousel {
  height: 400px;
  background-color: white;
  width: 100%;

  display: flex;
  position: relative;
  left: -100%;
  flex-direction: row;
  list-style-type: none;
  transform: translateX(100%);
}

.slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;


  flex: 1 0 100%;
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center;*/

  /*background-position: 50% 60%;*/
}

.active {
  color: #ffffff;
}

.inactive {
  color: #666666;
}

nav > div {
  transform: translateX(30px);
  transition: transform ease-out 0.45s;
  text-transform: uppercase;
  font-size: 70%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: transform 0.45s ease-out;
}

#wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.detailsSection {
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  left: 10%;
}