
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gotham A", "Gotham B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #000000;
}

/*************************/

nav {
  background-color: #000000;
  height: 40px;
  transition-duration: 600ms;
  display: flex;
  list-style-type: none;
}

nav > div {
  height: 100%;
  color: yellow;
  flex-grow: 1;
  display: inline-block;
  flex: 1 0 20%;
  text-transform: uppercase;
  font-size: 70%;
  cursor: pointer;
  position: relative;
}

.navText {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/**************/

.carousel {
  height: calc(100vh - 40px);
  background-color: white;
  width: 100%;
  display: flex;
  position: relative;
  left: -100%;
  flex-direction: row;
  list-style-type: none;
  transform: translateX(100%);
}

.slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 100%;
}

.active {
  color: #ffffff;
}

.inactive {
  color: #666666;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: transform 0.45s ease-out;
}

#wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.detailsSection {
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 200%;
  color: #ffffff;
  cursor: pointer;
}

.arrow.left {
  left: 2%;
}

.arrow.right {
  right: 2%;
}